.menu-btn {
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 4;
    cursor: pointer;
    height: 28px;
    margin-top: 5px;
    @include easeOut;

    .btn-line {
        width: 24px;
        height: 4px;
        margin-bottom: 5px;
        background: $primary;
        @include easeOut;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg)
        translate(0, 6px);

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(7px, 6px);
            }
            // Line 2 - Rotate
            &:nth-child(2) {
                opacity: 0;
            }
            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    opacity: $background-opacity;
    z-index: 2;
    visibility: hidden;
    

    &.show {
        @include easeOut;
        visibility: visible;
    }
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 3;

    &.show {
        visibility: visible;
    }

    &-nav {
        float: right;
        width: 70%;
        height: 100vh;
        overflow: hidden;
        border-radius: 15px;
        margin: 0;
        padding: 0 20px;
        background-color: $background;
        list-style: none;
        transform: translate3d(100%, 0, 0);
        @include easeOut;

        &.show {
            // Slide in from top
            transform: translate3d(0, 0, 0);
        }
    }
}

.nav-item{
    font-weight: 600;
    font-size: 18px;

    ion-icon {
        margin-right: 5px;
        color: $text;
    }
}

.account {
    margin: 50px 0 20px 0;
    padding-top: 10px;

    .account--user {
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    
        .user {
            font-size: 28px;
            font-weight: 700;
            color: $accent;
            margin: 0;
            padding: 0;
        }
    
        button {
            height: 24px;
            color: $background;
            background-color: $primary;
            border: none;
            border-radius: 5px;
        }   
    }

}