@import 'config';
@import 'menu';
@import 'preview';
@import 'banner';
@import 'filter';

* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $background;
}

h1 {
    margin: 0px;
    font-weight: 600;
    font-size: 28px;
}

span {
    font-weight: 800;
    color: $accent;
}

.header {
    width: 100vw;
    height: 50px;
    background-color: $background;
    padding: 0 20px;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
}

ion-icon {
    font-size: 26px;
    color: $primary;
}