$text: #020401;
$background: #fbfefb;
$primary: #51d82c;
$secondary: #caf3be;
$accent: #37ff00;

* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $background;
}

h1 {
    margin: 0px;
    font-weight: 600;
    font-size: 28px;
}

span {
    font-weight: 800;
    color: $accent;
}

.header {
    width: 100vw;
    height: 50px;
    background-color: $background;
    padding: 0 20px;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
}

ion-icon {
    font-size: 26px;
    color: $primary;
}

.menu-btn {
    z-index: 3;
    cursor: pointer;
    transition: all 0.6s ease-out;
    height: 28px;
    margin-top: 5px;

    .btn-line {
        width: 30px;
        height: 4px;
        margin-bottom: 5px;
        background: $primary;
        transition: all 0.6s ease-out; 
    }
}

.hero {
    width: 100%;
    height:max-content;
    background-color: $secondary;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.account--user {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    button {
        height: 24px;
        color: $secondary;
        background-color: $primary;
        border: none;
        border-radius: 5px;
    }
    
}

.greeting {
    font-size: 14px;
    color: $background;
    font-style: italic;
    font-weight: 400;
}

.user {
    font-size: 28px;
    font-weight: 700;
    color: $accent;
    margin: 0;
    padding: 0;
}

.notify {
    font-size: 12px;
}

.browse--filters {
    height: 40px;
    position: sticky;
    top: 50px;

    background-color: $background;
    margin: 10px 0 5px 0;

    .filter--form {
        display: flex;
        align-items: center;
        gap: 6px;
    
        h3 {
            margin: 10px 0 8px 20px;
            font-size: 16px;
            font-weight: 400;
        }
    
        button {
            height: 24px;
            color: $text;
            background-color: $secondary;
            border: none;
            border-radius: 5px;

            &.active {
                height: 24px;
                color: $secondary;
                background-color: $primary;
                border: none;
                border-radius: 5px;
            }
        }
    }
}

.preview-display {
	display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: $background;

    .preview {
        width: 41vw;
        height: 200px;
        background: $secondary;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            height: 140px;
            border-radius: 10px;
        }

        .preview--details {
            width: 140px;
            margin: 0;
            padding: 0;

            p {
                margin: 0;
                padding: 0;
                font-size: 12px;
                font-weight: 600;
            }
        }

    }
}

.small--preview-display {
    background-color: $background;

    display: flex;
    gap: 16px;
    overflow-x: auto;

    margin-left: 20px;

    &::-webkit-scrollbar {
        width: 0px;
    }

    .preview {
        min-width: 100px;
        height: 150px;
        background: $secondary;
        border-radius: 10px;
    }
}