.menu-btn {
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 4;
  cursor: pointer;
  height: 28px;
  margin-top: 5px;
  transition: all 0.6s ease-out; }
  .menu-btn .btn-line {
    width: 24px;
    height: 4px;
    margin-bottom: 5px;
    background: #2a623d;
    transition: all 0.6s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg) translate(0, 6px); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(7px, 6px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #949292;
  opacity: 0.6;
  z-index: 2;
  visibility: hidden; }
  .overlay.show {
    transition: all 0.6s ease-out;
    visibility: visible; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 3; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    float: right;
    width: 70%;
    height: 100vh;
    overflow: hidden;
    border-radius: 15px;
    margin: 0;
    padding: 0 20px;
    background-color: #cccccc;
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 0.6s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }

.nav-item {
  font-weight: 600;
  font-size: 18px; }
  .nav-item ion-icon {
    margin-right: 10px; }

.account {
  margin: 50px 0 20px 0;
  padding-top: 10px; }
  .account .account--user {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
    .account .account--user .user {
      font-size: 28px;
      font-weight: 700;
      color: #2a8539;
      margin: 0;
      padding: 0; }
    .account .account--user button {
      height: 24px;
      color: #cccccc;
      background-color: #2a623d;
      border: none;
      border-radius: 5px; }

.preview-display {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: #cccccc; }
  .preview-display .preview {
    width: 41vw;
    height: 200px;
    background: #949292;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .preview-display .preview img {
      height: 140px;
      border-radius: 10px; }
    .preview-display .preview .preview--details {
      width: 140px;
      margin: 0;
      padding: 0; }
      .preview-display .preview .preview--details p {
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 600; }

.small--preview-display {
  background-color: #cccccc;
  display: flex;
  gap: 16px;
  overflow-x: auto;
  margin-left: 20px; }
  .small--preview-display::-webkit-scrollbar {
    width: 0px; }
  .small--preview-display .preview {
    min-width: 100px;
    height: 150px;
    background: #949292;
    border-radius: 10px; }

.banner {
  width: 100%;
  height: max-content;
  background-color: #949292;
  padding: 10px 20px;
  display: flex;
  flex-direction: column; }
  .banner .greeting {
    font-size: 14px;
    color: #cccccc;
    font-style: italic;
    font-weight: 400; }
  .banner .account--user {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
    .banner .account--user .user {
      font-size: 28px;
      font-weight: 700;
      color: #2a8539;
      margin: 0;
      padding: 0; }
    .banner .account--user button {
      height: 24px;
      color: #cccccc;
      background-color: #2a623d;
      border: none;
      border-radius: 5px; }
  .banner .notify {
    font-size: 12px; }

.browse--filters {
  height: 40px;
  position: sticky;
  top: 50px;
  background-color: #cccccc;
  margin: 10px 0 5px 0; }
  .browse--filters .filter--form {
    display: flex;
    align-items: center;
    gap: 4px; }
    .browse--filters .filter--form h3 {
      margin: 10px 0 8px 20px;
      font-size: 16px;
      font-weight: 400; }
    .browse--filters .filter--form button {
      height: 24px;
      color: #2b2b2b;
      background-color: #949292;
      border: none;
      border-radius: 5px; }
      .browse--filters .filter--form button.active {
        height: 24px;
        color: #cccccc;
        background-color: #2a623d;
        border: none;
        border-radius: 5px; }

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #cccccc; }
  body::-webkit-scrollbar {
    width: 0; }

h1 {
  margin: 0px;
  font-weight: 600;
  font-size: 28px; }

span {
  font-weight: 800;
  color: #2a8539; }

.header {
  width: 100vw;
  height: 50px;
  background-color: #cccccc;
  padding: 0 20px;
  z-index: 1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0; }

ion-icon {
  font-size: 26px;
  color: #2a623d; }
