* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #FAFAFA; }

h1 {
  margin: 0px;
  font-weight: 400;
  font-size: 28px; }

span {
  font-weight: 900;
  color: #344BCB; }

.header {
  width: 100vw;
  height: 50px;
  background-color: #FAFAFA;
  padding: 0 20px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0; }

ion-icon {
  font-size: 26px;
  color: #213082; }

.menu-btn {
  z-index: 3;
  cursor: pointer;
  transition: all 0.6s ease-out;
  height: 28px;
  margin-top: 5px; }
  .menu-btn .btn-line {
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background: #213082;
    transition: all 0.6s ease-out; }

.hero {
  width: 100%;
  height: max-content;
  background-color: #D6DAF5;
  padding: 10px 20px;
  display: flex;
  flex-direction: column; }

.account--user {
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }
  .account--user button {
    height: 24px;
    color: #D6DAF5;
    background-color: #213082;
    border: none;
    border-radius: 5px; }

.greeting {
  font-size: 14px;
  color: #FAFAFA;
  font-style: italic;
  font-weight: 400; }

.user {
  font-size: 28px;
  font-weight: 700;
  color: #344BCB;
  margin: 0;
  padding: 0; }

.notify {
  font-size: 12px; }
